body
{
	margin:0;
    padding: 0;
	height: 100%;
    background-attachment:fixed; 
    background-repeat: no-repeat;
 
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://wallpaperaccess.com/full/1358232.jpg);
    
}
.logo{
	
	text-transform: uppercase;
	padding-right:0;
	padding-top:10px;
    padding-left: 80px;
	
}
.nav{
    margin: 0px 120px 35px;
    padding: 0px 100px 120px;
}
ul {
   margin-left:0px;
   padding-left: 0px;
   list-style: none;
}
ul li{
    float:left;
    width:100px;
    height: 40px;
    background-color:none;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    font-family: Verdana,  Tahoma, sans-serif;
    margin-right: 10px;
}
ul li a{
     text-decoration: none;
     color:crimson;
     
}
ul li a:hover{
    background-color:thistle;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}


section
{
	margin-left: 60px;
	width: 94%;
	padding: 10px;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	float: left;
}
.c3
{
	width:30%;
	min-width: 200px;
	height: 300px;
	text-align: center;
	padding: 10px;}
.c3 img
{
	width: 100%;
	height:300px;
	object-fit:cover;
	object-position: center; 
	transition: 1s;
}
img#kid1,#kid2,#kid3,#kid4,#kid5,#kid6,#kid7,#kid8,#kid9,#kid10,#kid11,#kid12,#kid13,#kid14,#kid15,#kid1
{
filter: grayscale(70%);
}
img#kid11:hover,#kid2:hover,#kid3:hover,#kid4:hover,#kid5:hover,#kid6:hover,#kid7:hover,#kid8:hover,#kid9:hover,#kid10:hover,#kid11:hover,#kid12:hover,#kid13:hover,#kid14:hover,#kid15:hover,#kid1:hover
{
filter: grayscale(0%);
}
img#cou1,#cou2,#cou3,#cou4,#cou5,#cou6,#cou7,#cou8,#cou9,#cou10,#cou11,#cou12,#cou13, #cou14,#cou15,#cou16,#cou1
{
filter: grayscale(70%);
}
img#cou1:hover,#cou2:hover,#cou3:hover,#cou4:hover,#cou5:hover,#cou6:hover,#cou7:hover,#cou8:hover,#cou9:hover,#cou10:hover,#cou11:hover,#cou12:hover, #cou13:hover,#cou14:hover,#cou15:hover,#cou16:hover,#cou1:hover
{
filter: grayscale(0%);
}
img#bday1,#bday2,#bday3,#bday4,#bday5,#bday6,#bday7,#bday8,#bday9,#bday10,#bday11,#bday12,#bday13,#bday14,#bday15,#bday16,#bday17,#bday18,#bday19,#bday20,#bday1
{
filter: grayscale(70%);
}
img#bday1:hover,#bday2:hover,#bday3:hover,#bday4:hover,#bday5:hover,#bday6:hover,#bday7:hover,#bday8:hover,#bday9:hover,#bday10:hover,#bday11:hover,#bday12:hover,#bday13:hover,#bday14:hover,#bday15:hover,#bday16:hover,#bday17:hover,#bday18:hover,#bday19:hover,#bday20:hover,#bday1:hover
{
filter: grayscale(0%);
}